<!-- <div class="navbar fixed-bottom">
  <div class="box">
    <a routerLink="/dashboard"><img src="./assets/slice image/ic-toolbar-db-d.png">Dashboard</a>
  </div>
 
  <a routerLink="/timeline"><img src="./assets/slice image/ic-toolbar-timeline-d.png">Timeline</a>
  <a routerLink="/nearby"><img src="./assets/slice image/ic-toolbar-challenges-d.png">Nearby</a>
  <a routerLink="/cardio"><img src="./assets/slice image/ic-toolbar-challenges-d.png">Challenges</a>
</div> -->
<div class="btn-group fixed-bottom" style="width:100%">
  <a routerLink="/dashboard">
    <button>
      <img src="./assets/slice image/ic-toolbar-db-d.png"> Dashboard
    </button>
  </a>
  <a routerLink="/timeline">
    <button>
      <img src="./assets/slice image/ic-toolbar-timeline-d.png"> Timeline
    </button>
  </a>
  <a routerLink="/nearby">
    <button>
      <img src="./assets/slice image/ic-toolbar-challenges-d.png"> Nearby
    </button>
  </a>
  <a routerLink="/cardio">
    <button>
      <img src="./assets/slice image/ic-toolbar-challenges-d.png"> Challenges
    </button>
  </a>
</div>

<router-outlet></router-outlet>